# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push :
    branches: [ main ]  
  # schedule:
  #   - cron:  '*/10 * * * *'
  pull_request:
    branches: [ main ]  

jobs:
  verif-server:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: "3.9"
        
    - name: Set up Python 3.9
      run: |
        apt-get update
        wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
        dpkg -i google-chrome-stable_current_amd64.deb

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        
    - name: Run script with env
      env:
       SSH_USER: ${{ secrets.SSH_USER}} 
       SSH_PASS: ${{ secrets.SSH_PASS}}
       DB_USER: ${{ secrets.DB_USER}} 
       DB_PASS: ${{ secrets.DB_PASS}}
       FB_USER: ${{ secrets.FB_USER}} 
       FB_PASS: ${{ secrets.FB_PASS}}

      run: |
        python main.py
          
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
